<%- include('header') %>
<h1><%= title %></h1>
    <p><%= message %></p>
    <table>
        <thead>
            <tr>
                <th>Imagen relacionada</th>
                <th>Nombre del Producto</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < products.length; i++) { %>
            <tr>
                <td><%= products[i].imagen %></td>
                <td><%= products[i].nombre %></td>
                <td>$ <%= products[i].precio %></td>
            </tr>
            <% } %>
        </tbody>
    </table>

</body>
</html>