<body style="margin: 0; padding: 0; background-color: antiquewhite;">
<%- include('./partials/header') %>
<div style="height: 100vh;">
    <div style="display: flex; justify-content: center;">
        <ul>
            <li><%= producto.nombre %> <%= producto.imagen %> -
            precio:  $<%= producto.precio %> </li>
        </ul>
    </div>
    <div style="display: flex; justify-content: center;">
        <a href="/" class="button" style="margin: 2%;" > Volver a HOME </a>
        <a href="/productos" class="button" style="margin: 2%;"  > Volver a la lista</a>
    </div>
</div>


<%- include('./partials/footer') %>
</body>